@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
    @apply text-roboto
    }
    .text-russo {
    font-family: 'Russo One', sans-serif;        
    }
    .text-roboto {
        font-family: 'Roboto', sans-serif;
    }
    h1 {
        @apply text-base text-russo md:text-lg xl:text-2xl 
    }
    span {
        @apply text-roboto text-slate-400 text-xs  sm:text-sm 
    }
}
@layer components {
    .my-btn {
        @apply py-1 px-2 sm:py-2 sm:px-4 text-neutral bg-accent rounded-xl hover:scale-105
    }
    .cart {
        transform: matrix(-1, 0, 0, 1, 0, 0);

    }
    .cart:hover {
        transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.1);
    }
}